# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\矫克清\Desktop\指纹驱动(1)\指纹驱动\ZKBIOOnline SDK 5.2.0.20\指纹\fpmatch\1-1\libmatchdlldemo\LearningLog\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
